.vscode/settings.json
server/security/Users/users.pyc
server/chathandler.pyc
server/contenthandler.pyc
server/websocketserver.pyc
server/__pycache__/chathandler.cpython-37.pyc
server/__pycache__/contenthandler.cpython-37.pyc
server/__pycache__/websocketserver.cpython-37.pyc
server/security/Users/__pycache__/users.cpython-37.pyc
*.pyc